@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@469&display=swap");

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 0 auto;
  color: #000;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3.5em;
}

.leaflet-container {
  margin: 1rem auto;
  height: 500px;
  width: 600px;
  border: 4px solid #000;
}

.markerClusterLabel {
  font-size: 0.9em;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
}
.markerClusterSmall,
.markerClusterMedium,
.markerClusterLarge,
.markerClusterLargeXL {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffaf00;
  filter: drop-shadow(0 0 5px black);
  border-radius: 50%;
}
.markerClusterSmall {
  padding: 10px;
}
.markerClusterMedium {
  padding: 15px;
}
.markerClusterLarge {
  padding: 17px;
}
.markerClusterLargeXL {
  padding: 20px;
}
